@charset "utf-8";
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

*, ::before, ::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	margin: 0;
	outline: none;
	padding: 0;
}

::-moz-selection {
	background-color: var(--light-gray-primary);
	color: var(--charcoal-primary);
}

::selection {
	background-color: var(--light-gray-primary);
	color: var(--charcoal-primary);
}

:root {
	--black: #000;
	--white: #fff;
}

:root {
	--aqua-primary: #3bafda;
	--basil-primary: #2aba66;
	--bittersweet-primary: #e9573f;
	--blue-jeans-primary: #4a89dc;
	--charcoal-primary: #323133;
	--dark-gray-primary: #434a54;
	--grapefruit-primary: #da4453;
	--grass-primary: #8cc152;
	--gray-primary: #aab2bd;
	--lavender-primary: #967adc;
	--light-gray-primary: #e6e9ed;
	--mint-primary: #37bc9b;
	--pink-rose-primary: #d770ad;
	--plum-primary: #6a50a7;
	--ruby-primary: #bf263c;
	--straw-primary: #e0c341;
	--sunflower-primary: #f6bb42;
	--teal-primary: #7db1b1;
}

:root {
	--basil-secondary: #2ecc71;
	--bittersweet-secondary: #fc6e51;
	--blue-jeans-secondary: #5d9cec;
	--charcoal-secondary: #3c3b3d;
	--dark-gray-secondary: #656d78;
	--grapefruit-secondary: #ed5565;
	--grass-secondary: #a0d468;
	--gray-secondary: #ccd1d9;
	--lavender-secondary: #ac92ec;
	--light-gray-secondary: #f5f7fa;
	--mint-secondary: #48cfad;
	--pink-rose-secondary: #ec87c0;
	--plum-secondary: #8067b7;
	--ruby-secondary: #d8334a;
	--straw-secondary: #e8ce4d;
	--sunflower-secondary: #ffce54;
	--teal-secondary: #a0cecb;
}

:root, * {
	--radius-xxxxs: 2.37px;
	--radius-xxxs: 3.556px;
	--radius-xxs: 5.333px;
	--radius-xs: 8px;
	--radius-sm: 12px;
	--radius-md: 18px;
	--radius-lg: 27px;
	--radius-xl: 40.5px;
	--radius-xxl: 60.75px;
	--radius-xxxl: 91.125px;
	--radius-xxxxl: 136.688px;
	--space-xxxxs: 1px;
	--space-xxxs: 3.556px;
	--space-xxs: 5.333px;
	--space-xs: 8px;
	--space-sm: 12px;
	--space-md: 18px;
	--space-lg: 27px;
	--space-xl: 40.5px;
	--space-xxl: 60.75px;
	--space-xxxl: 91.125px;
	--space-xxxxl: 136.688px;
	--text-xxxxs: 1px;
	--text-xxxs: 3.556px;
	--text-xxs: 5.333px;
	--text-xs: 8px;
	--text-sm: 12px;
	--text-md: 18px;
	--text-lg: 27px;
	--text-xl: 40.5px;
	--text-xxl: 60.75px;
	--text-xxxl: 91.125px;
	--text-xxxxl: 136.688px;
}

a, abbr, acronym, address, applet, area, article, aside, audio, b, base, basefont, bdo, bgsound, big, blink, blockquote, body, br, button, canvas, caption, center, cite, code, col, colgroup, command, datalist, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, frame, frameset, h1, h2, h3, h4, h5, h6, head, header, hgroup, hr, html, i, iframe, input, ins, kbd, keygen, label, legend, li, link, listing, main, map, mark, marquee, math, menu, meta, meter, nav, nextid, nobr, noembed, noframes, noscript, object, ol, optgroup, option, output, p, param, plaintext, pre, progress, q, rp, rt, ruby, s, samp, script, section, select, source, spacer, span, strike, strong, style, sub, summary, sup, svg, table, tbody, td, textarea, tfoot, th, thead, time, title, tr, track, tt, u, ul, var, video, wbr, xmp {
	border: 0;
	color: var(--charcoal-primary);
	font-family: "Source Sans Pro";
	font-size: var(--text-md);
	font-style: normal;
	font-weight: 400;
	line-height: 1.15;
	vertical-align: baseline;
}

a {
	text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
}

h1, h2, h3, h4 {
	font-family: "Montserrat";
	font-weight: 700;
}

h1 {
	font-size: var(--text-xxxl);
}

h2 {
	font-size: var(--text-xxl);
}

h3 {
	font-size: var(--text-xl);
}

h4 {
	font-size: var(--text-lg);
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

img, svg, video {
	height: auto;
	max-width: 100%;
}

ol, ul {
	list-style: none;
}

p {
	line-height: 1.5;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td:not([align]), th:not([align]) {
	text-align: left;
}

button, input, select, textarea {
	background-color: transparent;
	border: 0;
	color: var(--charcoal-primary);
	font-family: "Source Sans Pro";
	font-size: var(--text-md);
	font-style: normal;
	font-weight: 400;
	line-height: 1.15;
	vertical-align: baseline;
}